In [53]:
import numpy as np
import pandas as pd

data = pd.read_csv('monthly_prices/AAPL.csv', index_col=0)
data.head()

data_split = np.array_split(data, 5)
df = data_split[0]
df

,Date,Open,High,Low,Close,Adj Close,Volume
0,2018-01-01,42.540001,45.025002,41.174999,41.857498,39.802288,2638717600
1,2018-02-01,41.792500,45.154999,37.560001,44.529999,42.343567,3711577200
2,2018-03-01,44.634998,45.875000,41.235001,41.945000,40.048107,2854910800
3,2018-04-01,41.660000,44.735001,40.157501,41.314999,39.446602,2664617200
4,2018-05-01,41.602501,47.592499,41.317501,46.717499,44.604771,2483905200
5,2018-06-01,46.997501,48.549999,45.182499,46.277500,44.355049,2110498000
6,2018-07-01,45.955002,48.990002,45.855000,47.572498,45.596264,1574765600
7,2018-08-01,49.782501,57.217499,49.327499,56.907501,54.543468,2801275600
8,2018-09-01,57.102501,57.417500,53.825001,56.435001,54.280296,2715888000
9,2018-10-01,56.987499,58.367500,51.522499,54.715000,52.625980,3158994000
10,2018-11-01,54.762501,55.590000,42.564999,44.645000,42.940449,3845305600
11,2018-12-01,46.115002,46.235001,36.647499,39.435001,38.061703,3595690000