In [1]:
import numpy as np
import pandas as pd

lookback = 5

data = pd.read_csv('monthly_prices/AAPL.csv', index_col=0)
data.head()

data_split = np.array_split(data, lookback)
df = data_split[0]
df

,Date,Open,High,Low,Close,Adj Close,Volume
0,2018-01-01,42.540001,45.025002,41.174999,41.857498,39.802288,2638717600
1,2018-02-01,41.792500,45.154999,37.560001,44.529999,42.343567,3711577200
2,2018-03-01,44.634998,45.875000,41.235001,41.945000,40.048107,2854910800
3,2018-04-01,41.660000,44.735001,40.157501,41.314999,39.446602,2664617200
4,2018-05-01,41.602501,47.592499,41.317501,46.717499,44.604771,2483905200
5,2018-06-01,46.997501,48.549999,45.182499,46.277500,44.355049,2110498000
6,2018-07-01,45.955002,48.990002,45.855000,47.572498,45.596264,1574765600
7,2018-08-01,49.782501,57.217499,49.327499,56.907501,54.543468,2801275600
8,2018-09-01,57.102501,57.417500,53.825001,56.435001,54.280296,2715888000
9,2018-10-01,56.987499,58.367500,51.522499,54.715000,52.625980,3158994000
10,2018-11-01,54.762501,55.590000,42.564999,44.645000,42.940449,3845305600
11,2018-12-01,46.115002,46.235001,36.647499,39.435001,38.061703,3595690000

In [2]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler

data = pd.read_csv('monthly_prices/AAPL.csv', index_col=0)

price = data[['Close']]
scaler = MinMaxScaler(feature_range=(-1, 1))
price['Close'] = scaler.fit_transform(price['Close'].values.reshape(-1,1))
price.head()

C:\Users\zpulliam\AppData\Local\Temp\ipykernel_17904\2581330153.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  price['Close'] = scaler.fit_transform(price['Close'].values.reshape(-1,1))

      Close
0 -0.964926
1 -0.926232
2 -0.963659
3 -0.972780
4 -0.894560

In [7]:
from tst import TimeSeriesTransformer

## Model parameters
dim_val = 512 # This can be any value divisible by n_heads. 512 is used in the original transformer paper.
n_heads = 8 # The number of attention heads (aka parallel attention layers). dim_val must be divisible by this number
n_decoder_layers = 4 # Number of times the decoder layer is stacked in the decoder
n_encoder_layers = 4 # Number of times the encoder layer is stacked in the encoder
input_size = 1 # The number of input variables. 1 if univariate forecasting.
dec_seq_len = 92 # length of input given to decoder. Can have any integer value.
enc_seq_len = 153 # length of input given to encoder. Can have any integer value.
output_sequence_length = 58 # Length of the target sequence, i.e. how many time steps should your forecast cover
max_seq_len = enc_seq_len # What's the longest sequence the model will encounter? Used to make the positional encoder

model = TimeSeriesTransformer(
    dim_val=dim_val,
    batch_first=True,
    input_size=input_size, 
    dec_seq_len=dec_seq_len,
    out_seq_len=output_sequence_length, 
    n_decoder_layers=n_decoder_layers,
    n_encoder_layers=n_encoder_layers,
    n_heads=n_heads)

In [1]:
from rrn import LSTM, GRU

ModuleNotFoundError: No module named 'rrn'